/** Import Lepton stylesheet (Chrome) *****************************************/
@import url("css/leptonChrome.css");


/** Add your custom styles below **********************************************/

/* Enable option to edit bookmark URLs under Add Bookmark (blue star) menu */
/*
 * .editBMPanel_locationRow {
 *   display: initial !important;
 * }
*/

/* Disable Email Image/Audio/Video and Set as Desktop Background context menu items */
/*
 * #context-sendimage,
 * #context-sendvideo,
 * #context-sendaudio,
 * #context-setDesktopBackground {
 *   display: none !important;
 * }
*/

/*** Hide Tab Close buttons ***/
/* From https://support.mozilla.org/en-US/questions/1288218 */
.tabbrowser-tab .tab-close-button {
  visibility: collapse !important;
}
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([visuallyselected]) .tab-close-button {
  visibility: collapse !important;
}
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:hover .tab-close-button {
  visibility: collapse !important;
}
